#react {
}
.react__wrap {
    white-space: nowrap;
}
.red {
    height: 100vh;
    width: 2000px;
    background: lightpink;
}
.blue {
    width: 2000px;
    background: lightblue;
}
.puerple {
    width: 2000px;
    background: lavender;
}